.signUpScreen{
    padding: 30px 60px;
    background-color: rgba(0,0,0,0.85);
}
.signUpScreen>form>input{
    padding: 8px 15px;
    margin: 10px 0;
    outline-width: 0;
    border-radius: 4px;
    border: none;
}

.signUpScreen>form{
    display: flex;
    flex-direction: column;
    
}

.signUpScreen>form>button{
    padding: 8px 8px;
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;
    border-radius: 4px;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    
}
.signUpScreen>form>h4{
    margin-top: 15px;
}

.signUpScreen__gray{
    color: gray;
}

.signUpScreen__signUpLink:hover{
    cursor: pointer;
    text-decoration: underline;
}